<?xml version="1.0" encoding="utf-8"?>

<robot name="PinkPanther">

  <material name="dark-pink">
    <color rgba="1 0.5 1 1"/>
  </material>

  <material name="light-pink">
    <color rgba="0.7725 0.5411 0.7725 1"/>
  </material>

  <material name="white">
    <color rgba="0.9499 0.9499 0.9499 1"/>
  </material>

  <!-- BASE -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.098928 -0.12224 0.21577" rpy="0 0 0" />
      <mass value="0.95228" />
      <inertia ixx="0.00090835" ixy="-9.0768E-05" ixz="-2.3727E-07" iyy="0.0034187" iyz="-1.9167E-07" izz="0.0028288" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/base_link.STL"/>
      </geometry>
      <material name="light-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/base_link.STL"/>
      </geometry>
    </collision>
  </link>


  <!--      LEFT FRONT LEG       -->

  <!-- LEFT FRONT SHOULDER -->
  <link name="lf_shoulder_link">
    <inertial>
      <origin xyz="-0.03075 0.010763 0.045764" rpy="0 0 0"/>
      <mass value="0.0824"/>
      <inertia ixx="1.9553E-05" ixy="2.0817E-07" ixz="3.2177E-07" iyy="1.9067E-05" iyz="-9.601E-07" izz="2.1806E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://PinkPanther/meshes/lf_shoulder_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/lf_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 0 - LEFT FRONT ARMPIT -->
  <joint name="lf_armpit_joint" type="revolute">
    <origin xyz="0.18278 -0.16742 0.12906" rpy="1.5365 0 3.1416" />
    <parent link="base_link" />
    <child link="lf_shoulder_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3" upper="3" effort="3000" velocity="50"/>
  </joint>


  <!-- LEFT FRONT THIGH -->
  <link name="lf_thigh_link">
    <inertial>
      <origin xyz="0.059996433244213 -0.0341838321471055 0.032302577867309" rpy="0 0 0"/>
      <mass value="0.204"/>
      <inertia ixx="5.26346784128229E-05" ixy="-6.87731568122644E-06" ixz="-1.31969120930847E-08" iyy="0.000207681438340011" iyz="-1.98427830747812E-10" izz="0.000196679917440952"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://PinkPanther/meshes/lf_thigh_link.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/lf_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- JOINT 1 - LEFT FRONT SHOULDER -->
  <joint name="lf_shoulder_joint" type="revolute">
    <origin xyz="-0.029275 -0.014657 0.020776" rpy="0 0 -0.32094" />
    <parent link="lf_shoulder_link" />
    <child link="lf_thigh_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- LEFT FRONT CALF -->
  <link name="lf_calf_link">
    <inertial>
      <origin xyz="-0.05631 -0.031205 0.030022" rpy="0 0 0" />
      <mass value="0.1242" />
      <inertia ixx="2.7139E-05" ixy="6.4901E-06" ixz="2.949E-09" iyy="0.00025982" iyz="4.1E-09" izz="0.00024927" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/lf_calf_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/lf_calf_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 2 - LEFT FRONT KNEE -->
  <joint name="lf_knee_joint" type="revolute">
    <origin xyz="0.14707 -0.034829 0.002755" rpy="0 0 0.52769" />
    <parent link="lf_thigh_link" />
    <child link="lf_calf_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="500" />
  </joint>



  <!--      RIGHT FRONT LEG       -->

  <!-- RIGHT FRONT SHOULDER -->
  <link name="rf_shoulder_link">
    <inertial>
      <origin xyz="-0.030839 0.010759 -0.045563" rpy="0 0 0" />
      <mass value="0.0824" />
      <inertia ixx="1.9553E-05" ixy="2.0806E-07" ixz="-3.2173E-07" iyy="1.9066E-05" iyz="9.7295E-07" izz="2.1806E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/rf_shoulder_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/rf_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- JOINT 3 - RIGHT FRONT ARMPIT -->
  <joint name="rf_armpit_joint" type="revolute">
    <origin xyz="0.18329 -0.26358 0.12906" rpy="1.6168 5.0966E-05 3.1416" />
    <parent link="base_link" />
    <child link="rf_shoulder_link" />
    <axis xyz="1 5.0913E-05 0" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- RIGHT FRONT THIGH -->
  <link name="rf_thigh_link">
    <inertial>
      <origin xyz="0.0599964943975807 -0.0341839918276807 -0.0377429634703778" rpy="0 0 0" />
      <mass value="0.204" />
      <inertia ixx="5.26346968148551E-05" ixy="-6.87777138986594E-06" ixz="-1.27760415664048E-08" iyy="0.00020768066062949" iyz="-3.26645150604797E-10" izz="0.000196679212150683" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/rf_thigh_link.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/rf_thigh_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 4 - RIGHT FRONT SHOULDER -->
  <joint name="rf_shoulder_joint" type="revolute">
    <origin xyz="-0.029276 -0.01466 -0.01472" rpy="0 0 -0.32044" />
    <parent link="rf_shoulder_link" />
    <child link="rf_thigh_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- RIGHT FRONT CALF -->
  <link name="rf_calf_link">
    <inertial>
      <origin xyz="-0.056309 -0.031205 -0.034472" rpy="0 0 0" />
      <mass value="0.1242" />
      <inertia ixx="2.7139E-05" ixy="6.49E-06" ixz="-1.7487E-08" iyy="0.00025981" iyz="4.2534E-09" izz="0.00024927" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/rf_calf_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/rf_calf_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 5 - RIGHT FRONT KNEE -->
  <joint name="rf_knee_joint" type="revolute">
    <origin xyz="0.14707 -0.034829 -0.0032987" rpy="0 0 0.5296" />
    <parent link="rf_thigh_link" />
    <child link="rf_calf_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="500" />
  </joint>



  <!--      LEFT BACK LEG       -->

  <!-- LEFT BACK SHOULDER -->
  <link name="lb_shoulder_link">
    <inertial>
      <origin xyz="0.020789 0.01076 0.045764" rpy="0 0 0" />
      <mass value="0.0824" />
      <inertia ixx="1.9553E-05" ixy="2.0818E-07" ixz="3.2177E-07" iyy="1.9067E-05" iyz="-9.601E-07" izz="2.1806E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/lb_shoulder_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/lb_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- JOINT 6 - LEFT BACK ARMPIT -->
  <joint name="lb_armpit_joint" type="revolute">
    <origin xyz="0 -0.16742 0.12906" rpy="1.5595 -5.1017E-05 3.1416" />
    <parent link="base_link" />
    <child link="lb_shoulder_link" />
    <axis xyz="1 -5.1014E-05 0" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- LEFT BACK THIGH -->
  <link name="lb_thigh_link">
    <inertial>
      <origin xyz="0.0599960380679562 -0.0341837753554383 0.0323703475654103" rpy="0 0 0" />
      <mass value="0.204" />
      <inertia ixx="5.26406019644593E-05" ixy="-6.87082961044597E-06" ixz="-9.72142532528298E-09" iyy="0.000207699321496533" iyz="6.56354451163751E-10" izz="0.000196693726000022" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/lb_thigh_link.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/lb_thigh_link.STL" />
      </geometry>
    </collision>
  </link>
  
  <!-- JOINT 7 - LEFT BACK SHOULDER -->
  <joint name="lb_shoulder_joint" type="revolute">
    <origin xyz="0.022265 -0.014659 0.021208" rpy="0 0 -0.53704" />
    <parent link="lb_shoulder_link" />
    <child link="lb_thigh_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- LEFT BACK CALF -->
  <link name="lb_calf_link">
    <inertial>
      <origin xyz="-0.056276 -0.031202 0.030083" rpy="0 0 0" />
      <mass value="0.1242" />
      <inertia ixx="2.7135E-05" ixy="6.5225E-06" ixz="-5.1891E-09" iyy="0.00025947" iyz="4.206E-09" izz="0.00024893" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/lb_calf_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/lb_calf_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 8 - LEFT BACK KNEE -->
  <joint name="lb_knee_joint" type="revolute">
    <origin xyz="0.14707 -0.034829 0.0027597" rpy="0 0 0.55421" />
    <parent link="lb_thigh_link" />
    <child link="lb_calf_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="500" />
  </joint>



  <!--      RIGHT BACK LEG       -->

  <!-- RIGHT BACK SHOULDER -->
  <link name="rb_shoulder_link">
    <inertial>
      <origin xyz="0.019691 0.010762 -0.045563" rpy="0 0 0" />
      <mass value="0.0824" />
      <inertia ixx="1.9553E-05" ixy="2.0806E-07" ixz="-3.2174E-07" iyy="1.9066E-05" iyz="9.7294E-07" izz="2.1806E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/rb_shoulder_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/rb_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 9 - RIGHT BACK ARMPIT -->
  <joint name="rb_armpit_link" type="revolute">
    <origin xyz="0 -0.26358 0.12906" rpy="1.5302 5.0978E-05 3.1416" />
    <parent link="base_link" />
    <child link="rb_shoulder_link" />
    <axis xyz="1 5.0937E-05 0" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- RIGHT BACK THIGH -->
  <link name="rb_thigh_link">
    <inertial> 
      <origin xyz="0.0599960458579381 -0.0341837115845736 -0.0321570675592017" rpy="0 0 0" />
      <mass value="0.204" />
      <inertia ixx="5.26408561372654E-05" ixy="-6.8705649869887E-06" ixz="-9.67815932243586E-09" iyy="0.00020769988620132" iyz="8.34486217540092E-10" izz="0.000196694706203367" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/rb_thigh_link.STL" />
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/rb_thigh_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 10 - RIGHT BACK SHOULDER -->
  <joint name="rb_shoulder_joint" type="revolute">
    <origin xyz="0.021253 -0.014657 -0.020806" rpy="0 0 -0.51747" />
    <parent link="rb_shoulder_link" />
    <child link="rb_thigh_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="50" />
  </joint>


  <!-- RIGHT BACK CALF -->
  <link name="rb_calf_link">
    <inertial>
      <origin xyz="-0.056275 -0.031201 -0.031684" rpy="0 0 0" />
      <mass value="0.1242" />
      <inertia ixx="2.7135E-05" ixy="6.5242E-06" ixz="-4.9988E-09" iyy="0.00025947" iyz="4.1688E-09" izz="0.00024893" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/rb_calf_link.STL" />
      </geometry>
      <material name="dark-pink"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://PinkPanther/meshes/low_qual/rb_calf_link.STL" />
      </geometry>
    </collision>
  </link>

  <!-- JOINT 11 - RIGHT BACK KNEE -->
  <joint name="rb_knee_joint" type="revolute">
    <origin xyz="0.14707 -0.034829 0" rpy="0 0 0.52603" />
    <parent link="rb_thigh_link" />
    <child link="rb_calf_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3" upper="3" effort="3000" velocity="500" />
  </joint>


</robot>